body{
background-color: mediumpurple;
color: indigo;
font-family: "Gravitas One", serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: darkorchid;
color: indigo;
font-family: "Gravitas One", serif;
}

.passo{
display:none;
}

.passo.ativo{
    display:block;
}

main {
   text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
}